* {
  box-sizing: border-box;
  
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  align-items: center;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  margin: 10px;
  padding: 5px;
}

#trybewarts-forms-logo {
  height: 500px;
  margin: 30px;
}

#label-family {
  display: flex;
  flex-direction: column;
}

#familias {
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  flex-direction: column;
}

#avalia {
  display: flex;
  align-items: center;
}

.trybewarts-login input {
  border-radius: 10px;
  
}

body {
  background-color: rgb(235,235,235);
}

section {
  font-size: 24px;
}

#submit-btn {
  background-color: purple;
  color: white;
}

#btn-form-header {
  background-color: purple;
  color: white;
  margin: 0 20px;
}

.trybewarts-header-logo{
  height:50px;
  margin: 0 20px;
}  